:root {
  --main-bg-color: #f2f2f2; /* Color de fondo principal */
  --dark-bg-color: #000; /* Color de fondo en modo oscuro */
  --text-color: #fff; /* Color de texto principal */
  --link-color: #48C7F3; /* Color de los enlaces */
  --link-hover-color: var(--link-color); /* Color de los enlaces en hover, igual al color de los enlaces */
  --button-bg-color: var(--link-color); /* Color de fondo del botón, igual al color de los enlaces */
  --button-border-color: var(--link-hover-color); /* Color del borde del botón, igual al color en hover de los enlaces */
  --button-text-color: var(--text-color); /* Color del texto del botón, igual al color de texto principal */
  --form-input-border-color: #5fc9f3; /* Color del borde del input en el formulario */
}


/* Estilo para el índice */
#aboutMeMenu {
  text-align: left;
  width: 250px;
  background-color: #3a9bc7;
  border: 2px solid #48C7F3;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px; /* Margen entre el menú y otros elementos */
}

#aboutMeMenu:hover {
  border: 2px solid #3a9bc7;
  background-color: #48C7F3;
}

#aboutMeMenu h2 {
  margin: auto; /*Con esto se me centra el h2*/
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

#aboutMeMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#aboutMeMenu li {
  margin-bottom: 10px;
  background-color: transparent; /* Establecer el fondo transparente */
  transition: background-color 0.3s; /* Agregar transición al cambio de fondo */
}

#aboutMeMenu li:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Cambiar el fondo en el hover */
}

#aboutMeMenu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 5px; /* Ajustar el padding vertical y horizontal */
  transition: color 0.3s;
  display: block; /* Hacer que los enlaces ocupen todo el ancho disponible */
}

#aboutMeMenu a:hover {
  color: #3a9bc7;
}

/* Estilos del primer párrafo de cada sección */
section p:first-of-type::first-letter {
  font-size: 3em; /* Aplica letra capital */
  color: #3a9bc7;
  font-weight: bold;
}

@media (max-width: 768px) {
  #aboutMeMenu {
    width: auto; /* Cambia el ancho a automático para ocupar el espacio disponible */
    padding: 5px; /* Reduce el relleno */
    margin: 10px; /* Reduce el margen */
  }

  #aboutMeMenu h2 {
    font-size: 20px; /* Reduce el tamaño del encabezado */
  }

  #aboutMeMenu ul {
    margin-left: 20px; /* Añade un margen izquierdo a la lista para que no quede pegada al borde */
  }

  /* Ajustar el estilo del hover para los li en el modo responsive */
  #aboutMeMenu li:hover {
    background-color: transparent; /* Establecer el fondo transparente */
    transition: background-color 0.3s; /* Agregar transición al cambio de fondo */
  }
}

/*imágenes del about me */

.photo-container {
  clear: both;
  font-size: medium;
  text-align: center;
}

.photo-link {
  margin-left: 1em;
  margin-right: 1em;
}

.photo-border {
  background: #73ACDF;
  border: 7px solid #FFF;
  display: inline-block;
  font-size: medium;
  padding: 28px;
}

.photo-border:hover {
  background: #48C7F3;
  border: 7px solid #73ACDF;
}

.photo-border img {
  border: 0;
  max-width: 100%; /* Establecemos el ancho máximo al 100% */
  height: auto; /* Ajustamos la altura automáticamente para mantener la proporción */
  display: block; /* Para eliminar el espacio inferior causado por ser elemento inline */
  margin: 0 auto; /* Centramos la imagen horizontalmente */
}

.photo-caption {
  font-size: medium;
}

.flag-icon {
  border: 0px;
}

/* Estilo del botón de modo Haloween */
  
body.light main {
  color: #cd6a2e;
  font-family: 'Creepster', cursive;
}  

.light-mode-button {
  margin: auto;
  background-color: #cd6a2e; /* Color de fondo en modo oscuro */
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  transition: background-color 0.3s;
}

body.light .light-mode-button {
  background-color: white;
  color: black;
}

.light-mode-button:hover {
  transform: scale(1.2);
  background-color: #cd6a2e;
  border: 2px solid black;    
}

.light-mode-button .icon {
  font-size: 20px;
  margin-right: 10px;
}

/* Cambio de icono y color en modo claro */
.light-mode-button .icon.sun {
  display: none;
  color: white; /* Color del icono en modo oscuro */
}

/* Estilo de icono en modo oscuro */
.light-mode-button.light .icon.moon {
  display: none;
  color: black; /* Color del icono en modo claro */
}

.light-mode-button.light .icon.sun {
  display: inline;
}