@import './header-footer.scss';
@import './main.scss';
@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  overflow-x: hidden;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}

main, #introduction {
  padding: 6rem;
  background-color: $verde-principal;
  color: white;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */

  .pages__img {
    width: 300px; /* Ajusta el tamaño según tus necesidades */
    height: 200px;
    margin-bottom: 2rem;
    /* Agrega cualquier otro estilo necesario para las imágenes */
  }

  a {
    text-decoration: none; /* Elimina el subrayado predeterminado */
    color: inherit; /* Utiliza el color del texto del elemento padre */
  }

  a:hover {
    text-decoration: none; /* También elimina el subrayado en el estado de hover (si lo deseas) */
  }

  p {
    text-align: left;
  }

  h1 {
    margin-bottom: 4rem;
    text-align: center;
    text-transform: uppercase;
  }
}

#introduction {
  background-color: skyblue;
}

.enterprise {
  background-color: white;
  border: 1px solid rgb(24, 24, 255);
  color: $verde-principal;
  padding: 2px 5px;
  text-transform: uppercase;
}

.btn-wsp{
  position: fixed;
  width:60px;
  height:60px;
  line-height: 63px;
  bottom:25px;
  right:25px;
  background:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:35px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index:100;
  transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}

.scrollup{
  width:40px;
  height:40px;
  opacity:0.3;
  position:fixed;
  bottom:50px;
  right:80px;
  display:none;
  text-indent:-9999px;
  background: url(../images/icon_top.png) no-repeat;
} 

@media only screen and (min-width:320px) and (max-width:768px){
  
  .btn-wsp{
    width:63px;
    height:63px;
    line-height: 66px;
  }
}
