@charset "UTF-8";
/* Diseño mobile-first */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  padding: 6rem;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  color: #4B815E;
}
footer .footer__container {
  display: flex; /* Cambiado a flex para tener filas en lugar de columnas */
  flex-direction: column; /* Filas en lugar de columnas en el diseño mobile-first */
  gap: 2rem;
}
footer .footer__container section {
  flex: 1; /* Todas las secciones ocupan el mismo espacio disponible */
  margin-bottom: 1rem;
}
footer .footer__container .redesSociales__ul {
  display: flex;
  justify-content: center; /* Alinea los elementos en el centro horizontalmente */
  transform: scale(1.5);
}
footer .footer__container .redesSociales__ul li {
  margin-left: 2rem; /* Ajusta el valor según la separación deseada */
}
footer .footer__container .redesSociales__ul a:hover {
  transform: scale(1.6);
}
footer .footer__container #yearPlaceholder {
  font-weight: bold;
}
footer #enlaces {
  text-align: center; /* Centra el contenido horizontalmente en la sección "enlaces" */
}
footer #enlaces a {
  display: block;
  margin-bottom: 0.5rem;
}
footer #mapa {
  text-align: left;
}
footer #mapa h3 {
  text-align: center;
}
footer #mapa iframe {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
footer .destacado {
  border: 2px solid #4B815E;
  border-radius: 8px;
  padding: 10px;
  animation: resaltar 1s 2 alternate;
}
@keyframes resaltar {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
}
footer .copyright__a {
  color: #4B815E;
}

/* Diseño para tabletas */
@media screen and (min-width: 600px) {
  footer {
    padding: 2rem;
    justify-content: space-between;
    text-align: left;
  }
  footer .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
  footer .footer__container section {
    flex: 1; /* Todas las secciones ocupan el mismo espacio disponible */
  }
  footer #mapa span:first-child {
    text-decoration: underline;
  }
  footer #mapa #verMapa {
    display: inline !important;
  }
  footer #mapa iframe {
    display: none;
  }
  footer #mapa.activo iframe {
    display: block;
  }
}
/* Diseño mobile-first */
header {
  background-color: #333;
  padding: 1rem;
  text-align: center;
}
header #logo img {
  width: 100px;
  height: 100px;
}
header nav {
  margin-top: 1rem;
}
header nav a {
  display: block;
  margin-bottom: 2rem;
  color: #fff;
}
header nav a:hover {
  color: #4B815E;
}

/* Diseño para tabletas */
@media screen and (min-width: 600px) {
  header {
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
  }
  header #logo img {
    width: 80px;
    height: 80px;
  }
  header nav {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
  }
  header nav a {
    font-size: 1.8rem;
  }
  /* Diseño para escritorio */
}
@media screen and (min-width: 600px) and (min-width: 1024px) {
  header {
    padding: 3rem;
  }
  header nav {
    margin-top: 3rem;
  }
  header nav a {
    font-size: 2rem;
  }
}
#main__grid {
  display: grid;
  gap: 20px;
  justify-content: center;
}
#main__grid div {
  background-color: white;
  color: #4B815E;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
#main__grid div:hover {
  transform: scale(1.05);
}
#main__grid div .main__link {
  display: flex;
  flex-direction: column; /* Cambia la dirección del eje principal a vertical */
}
#main__grid div .main__link .linkDescription__container {
  align-self: flex-end; /* Ubica este elemento al final del contenedor padre en el eje Y */
  border: none;
}
#main__grid div .main__link .linkDescription__container:hover {
  transform: scale(1);
}
#main__grid div h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  height: 75px;
}
#main__grid div img {
  width: 100%;
  height: auto;
}
#main__grid div p {
  font-size: 1.75rem;
  margin-top: 1rem;
}

/* Diseño para tabletas */
@media screen and (min-width: 600px) {
  #main__grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  p {
    font-size: 2rem !important;
  }
}
/* Diseño para escritorio */
@media screen and (min-width: 1024px) {
  #main__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  overflow-x: hidden;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}

main, #introduction {
  padding: 6rem;
  background-color: #4B815E;
  color: white;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra los elementos verticalmente */
}
main .pages__img, #introduction .pages__img {
  width: 300px; /* Ajusta el tamaño según tus necesidades */
  height: 200px;
  margin-bottom: 2rem;
  margin-left: auto; /* Centra la imagen horizontalmente */
  margin-right: auto; /* Centra la imagen horizontalmente */
}
main a, #introduction a {
  text-decoration: none; /* Elimina el subrayado predeterminado */
  color: inherit; /* Utiliza el color del texto del elemento padre */
}
main a:hover, #introduction a:hover {
  text-decoration: none; /* También elimina el subrayado en el estado de hover (si lo deseas) */
}
main p, main h3, main h4, #introduction p, #introduction h3, #introduction h4 {
  text-align: left !important; /* este  funciona perfectamente */
}
main h1, #introduction h1 {
  margin-bottom: 4rem;
  text-align: center;
  text-transform: uppercase;
}
main .h3__subtitle, #introduction .h3__subtitle {
  text-transform: uppercase;
  margin-top: 35px; /* Este valor puede ajustarse según la cantidad de espacio que desees */
}
main h4, #introduction h4 {
  margin-top: 20px;
  text-decoration: underline;
}

#introduction {
  background-color: skyblue;
}
#introduction .enterprise {
  color: #4B815E;
  padding: 2px 5px;
  text-transform: uppercase;
}
#introduction .enterprise:hover {
  color: white;
  background-color: #4B815E;
}

.enterprise {
  color: white;
  text-transform: uppercase;
}

.enterprise:hover {
  background-color: white;
  color: #4B815E;
}

.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
}

.btn-wsp:hover {
  background: #20ba5a;
}

.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  right: 80px;
  display: none;
  text-indent: -9999px;
  background: url(../images/icon_top.png) no-repeat;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .btn-wsp {
    width: 63px;
    height: 63px;
    line-height: 66px;
  }
}

/*# sourceMappingURL=style.css.map */
